<div class="flex flex-col w-full justify-center">
  @if (semester != null) {
    <table class="w-full table border-2 rounded overflow-hidden">
      <thead class="bg-udes-blue-700 text-white">
        <th class="border border-white">Valor Matricula Pronto Pago</th>
        <th class="border border-white">Valor Matricula Ordinaria</th>
        <th class="border border-white">VAlor Matricula ExtraOrdinaria</th>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="border border-gray-300">
            {{ preOrdinal | currencyFormat }}
          </td>
          <td class="border border-gray-300">
            {{ ordinal | currencyFormat }}
          </td>
          <td class="border border-gray-300">
            {{ postOrdinal | currencyFormat }}
          </td>
        </tr>
      </tbody>
    </table>

    <button
      class="bg-udes-blue-700 text-white rounded p-2 mt-2 self-center disabled:bg-udes-gray-500"
      [disabled]="semester.paid"
      (click)="onPayButtonClicked()"
    >
      Pagar Matricula
    </button>
  }
</div>
